# See https://www.terraform.io/docs/backends/types/azurerm.html

terraform {
  backend "azurerm" {
    # Use partial configuration, as we do not want to expose these details in source control
    #resource_group_name        = "automation"
    #storage_account_name       = "tfbackend"
    #container_name             = "vdc" 
    key                        = "terraform.tfstate"
    #sas_token                  = "sp=racwl&st=2021-02-28T00:00:00Z&se=2021-12-31T23:59:59Z&spr=https&sv=2020-02-10&sr=c&sig=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX%3D"
  }
}