admin_ip_ranges = [
    "123.45.67.89/32"
  ]
# $env:TF_VAR_admin_ip_ranges = '["123.45.67.89/32"]'


admin_ips = [
    "123.45.67.89"
  ]
# $env:TF_VAR_admin_ips = '["123.45.67.89"]'


app_web_vm_size                = "Standard_D4s_v3"
app_db_vm_size                 = "Standard_D4s_v3"

resource_prefix                = "demo"

vanity_certificate_name        = "mydomain-com"
vanity_certificate_path        = "STAR_mydoman_com.pfx"
vanity_certificate_password    = "XXXXXXXXXX"
vanity_domainname              = "mydomain.com"

vpn_root_cert_file             = "P2SRootCert.cer" 

app_devops                     = {
    account                    = "vstsaccount"
    team_project               = "VDC"
    web_deployment_group       = "AppServers"
    db_deployment_group        = "DBServers"
    pat                        = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}
# $env:TF_VAR_app_devops = '{account="vstsaccount",team_project="VDC",web_deployment_group="AppServers",db_deployment_group="DBServers",pat="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}'
paas_aad_auth_client_id_map    = {
    cd_client_id               = "00000000-0000-0000-0000-000000000000"
    cd_client_secret           = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    ci_client_id               = "00000000-0000-0000-0000-000000000000"
    ci_client_secret           = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    default_client_id          = "00000000-0000-0000-0000-000000000000"
    default_client_secret      = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    test_client_id             = "00000000-0000-0000-0000-000000000000"
    test_client_secret         = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
}

alert_email                    = "admin@contoso.com"
admin_login                    = "user@tenant.onmicrosoft.com"
admin_object_id                = "00000000-0000-0000-0000-000000000000"
app_database_template_storage_key = "aaaaaaaaaaaaaaaaaaaaa/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
shared_resources_group         = "Shared"
vso_url                        = "https://online.visualstudio.com/environment/00000000-0000-0000-0000-000000000000"