# Feature toggles
deploy_api_gateway             = true
deploy_managed_bastion         = false
deploy_monitoring_vm_extensions = false
deploy_network_watcher         = false
deploy_non_essential_vm_extensions = false
deploy_security_vm_extensions  = false
deploy_vpn                     = false
disable_public_database_access = false
enable_private_link            = true
enable_app_service_aad_auth    = true
enable_storage_diagnostic_setting = false # Requires access to private preview of diagnostic log settings for Azure resource type 'microsoft.storage/storageaccounts', feature flag: 'microsoft.insights/diagnosticsettingpreview': https://docs.microsoft.com/en-us/azure/storage/common/monitor-storage
grant_database_access          = true
paas_app_storage_import        = false
restrict_public_access         = true
use_pipeline_environment       = true
use_server_side_disk_encryption = false
use_vanity_domain_and_ssl      = false

admin_ip_ranges = [
    "123.45.67.89/32"
]
admin_ips = [
    "123.45.67.89"
]

app_devops                     = {
    account                    = "vstsaccount"
    team_project               = "VDC"
    web_deployment_group       = "AppServers"
    db_deployment_group        = "DBServers"
    pat                        = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}
app_db_vm_number               = 2
app_db_vm_size                 = "Standard_D2s_v3"
app_web_vm_number              = 2
app_web_vm_size                = "Standard_D2s_v3"

shared_resources_group         = "Shared"
resource_prefix                = "demo"
vanity_certificate_name        = "mydomain-com"
vanity_certificate_path        = "STAR_mydoman_com.pfx"
vanity_certificate_password    = "XXXXXXXXXX"
vanity_root_certificate_cer_path = "RootCA.cer"
vanity_domainname              = "mydomain.com"

paas_aad_auth_client_id_map    = {
    cd_client_id               = "00000000-0000-0000-0000-000000000000"
    cd_client_secret           = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    ci_client_id               = "00000000-0000-0000-0000-000000000000"
    ci_client_secret           = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    default_client_id          = "00000000-0000-0000-0000-000000000000"
    default_client_secret      = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    test_client_id             = "00000000-0000-0000-0000-000000000000"
    test_client_secret         = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
}

# User configuration
alert_email                    = "admin@contoso.com"
admin_login                    = "admin@contoso.com"
admin_object_id                = "00000000-0000-0000-0000-000000000000"
vso_url                        = "https://online.visualstudio.com/environment/00000000-0000-0000-0000-000000000000"